<header ng-switch on="$location.path().indexOf('/Produtos/new') > -1">
    <h3 ng-switch-when="true">Create a new Produto</h3>
    <h3 ng-switch-when="false">View or edit Produto</h3>
</header>
<form id="ProdutoForm" name="ProdutoForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': ProdutoForm.Descricao.$invalid}">
        <label for="Descricao" class="col-sm-2 control-label">Descricao</label>
        <div id="DescricaoControls" class="col-sm-10">
            <input id="Descricao" name="Descricao" type="text" required class="form-control" ng-model="produto.Descricao" placeholder="Enter the Produto Descricao"></input>
            <span class="help-block error" ng-show="ProdutoForm.Descricao.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProdutoForm.Nome.$invalid}">
        <label for="Nome" class="col-sm-2 control-label">Nome</label>
        <div id="NomeControls" class="col-sm-10">
            <input id="Nome" name="Nome" type="text" required class="form-control" ng-model="produto.Nome" placeholder="Enter the Produto Nome"></input>
            <span class="help-block error" ng-show="ProdutoForm.Nome.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProdutoForm.Valor.$invalid}">
        <label for="Valor" class="col-sm-2 control-label">Valor</label>
        <div id="ValorControls" class="col-sm-10">
            <input id="Valor" name="Valor" type="number" required class="form-control" ng-model="produto.Valor" placeholder="Enter the Produto Valor"></input>
            <span class="help-block error" ng-show="ProdutoForm.Valor.$error.required">required</span> 
            <span class="help-block error" ng-show="ProdutoForm.Valor.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProdutoForm.Estoque.$invalid}">
        <label for="Estoque" class="col-sm-2 control-label">Estoque</label>
        <div id="EstoqueControls" class="col-sm-10">
            <input id="Estoque" name="Estoque" type="text" required class="form-control" ng-model="produto.Estoque" placeholder="Enter the Produto Estoque"></input>
            <span class="help-block error" ng-show="ProdutoForm.Estoque.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProdutoForm.imagem.$invalid}">
        <label for="imagem" class="col-sm-2 control-label">Imagem</label>
        <div id="imagemControls" class="col-sm-10">
            <input id="imagem" name="imagem" type="text" class="form-control" ng-model="produto.imagem" placeholder="Enter the Produto Imagem"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProdutoForm.pedidos.$invalid}">
        <label for="pedidos" class="col-sm-2 control-label">Pedidos</label>
        <div id="pedidosControls" class="col-sm-10">
            <select id="pedidos" name="pedidos" multiple class="form-control" ng-model="pedidosSelection" ng-options="p.text for p in pedidosSelectionList">
                <option value="">Choose a Pedidos</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProdutoForm.quantidade.$invalid}">
        <label for="quantidade" class="col-sm-2 control-label">Quantidade</label>
        <div id="quantidadeControls" class="col-sm-10">
            <input id="quantidade" name="quantidade" type="number" class="form-control" ng-model="produto.quantidade" placeholder="Enter the Produto Quantidade"></input>
            <span class="help-block error" ng-show="ProdutoForm.quantidade.$error.number">not a number</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveProduto" name="saveProduto" class="btn btn-primary" ng-disabled="isClean() || ProdutoForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteProduto" name="deleteProduto" class="btn btn-danger" ng-show="produto.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>